ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.showcase { 
    height: 87vh;
    align-items: center;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url('https://nt-jobify.onrender.com/landing-showcase.jpg') center / cover;

}

.showcase .container h1 {
    margin-top: 10rem;
}

.container h1 span {
    color: red;
}


.hm {
    font-size: 60px;
    font-weight: 400;
    width: 600px;
    text-align: center;
}


.paramd {
    text-align: center;
    width: 730px;
}
