.btns button {
    width: 190px;
}

.alreadyr {
    width: 160px;
}

.cardewrew {
    height: 200px;
    align-items: center;
    background-color: #fff;
}

.hello {
    width: 1000px;
    gap: 10rem;
}

.btnewkjn {
    background-color: rgba(128, 128, 128, 0.099);
}

.imageprofile {
    border-radius: 50%;
}

.cardcover {
    width: 1300px;
    height: 200px;
    align-items: center;
    background-color: #fff;
}

.pagenoutfound {
    width: 500px;
}

.dhfjgfgdj {
    width: 120px;
}

.dumaloq {
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background-color: #fff;
    font-size: 10;
}